In [3]:
import re

# re.sub

In [15]:
string = """pak Have you ever tried to divide an integer with a string while programming in Python?If yes,
you might have got an error pk message like “TypeError: unsupported operand type(s) for /: ‘int’
and ‘str’”.  In this article, we will discuss this TypeError exception in Python. We will also look
at different situations when a TypeError exception can pak occur and how we can avoid them."""

In [16]:
print(re.sub('pak|pk|paki','PAKISTAN',string))

PAKISTAN Have you ever tried to divide an integer with a string while programming in Python?If yes,
you might have got an error PAKISTAN message like “TypeError: unsupported operand type(s) for /: ‘int’
and ‘str’”.  In this article, we will discuss this TypeError exception in Python. We will also look
at different situations when a TypeError exception can PAKISTAN occur and how we can avoid them.

# using function

In [47]:
def square(x):
    return x**2
square(4)

16

In [49]:
square = lambda x: x**2 #here lambda is a built in function x is input 
square(4)

16

In [36]:
string = "Dan has 4 snails. Mike has 3 cats. Alisa has 9 monkeys"

In [37]:
re.search('(\d+)',string).group()#this find 1st digit in data and pull them out in form of list

'4'

In [38]:
re.findall('(\d+)',string) #this find digits in data and pull them out in form of list

['4', '3', '9']

In [41]:
re.sub('(\d+)','1',string) # here it find all numbers in data set and convert them into 1

'Dan has 1 snails. Mike has 1 cats. Alisa has 1 monkeys'

In [58]:
re.sub('(d\+)', lambda x : str( square ( int ( x.group ( 0 ) ) ) ),string)

'Dan has 4 snails. Mike has 3 cats. Alisa has 9 monkeys'

In [42]:
re.sub('(d\+)', lambda x : str(x),string)

'Dan has 4 snails. Mike has 3 cats. Alisa has 9 monkeys'

In [61]:
input = "eat sleep laugh study"
#using lambda adding ing to all words of input 
result = re.sub("\w+", lambda m: m.group()+"ing",input)
result

'eating sleeping laughing studying'

In [1]:
my_str ="""Located in: Dilkusha Forum
Address: Suite No 1005, 10th Floor , Dilkusha Forum Plot No 7,, Block 3, Delhi Cooperative Housing Society, Tariq Road, Delhi CHS PECHS, Karachi, Karachi City, Sindh
Hours: 
Open ⋅ Closes 9PM
Phone: (021) 34538866
Suggest an edit · Own this business?
Know this place?Share the latest info"""
my_str

'Located in: Dilkusha Forum\nAddress: Suite No 1005, 10th Floor , Dilkusha Forum Plot No 7,, Block 3, Delhi Cooperative Housing Society, Tariq Road, Delhi CHS PECHS, Karachi, Karachi City, Sindh\nHours: \nOpen ⋅ Closes 9PM\nPhone: (021) 34538866\nSuggest an edit · Own this business?\nKnow this place?Share the latest info'