In [1]:
# EDA pamages 
import pandas as pd

In [2]:
# Data Viz pakages
import matplotlib.pyplot as plt
import seaborn as sns

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
#hide earrings 
import warnings
warnings.filterwarnings('ignore')

In [5]:
#load data
#df = pd.read_csv(".csv")
#load data
df = pd.read_csv("C:\\Users\\haier\\Downloads\\covid19_tweets.csv")

In [6]:
#preview the data
df

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179103,AJIMATI AbdulRahman O.,"Ilorin, Nigeria",Animal Scientist|| Muslim|| Real Madrid/Chelsea,2013-12-30 18:59:19,412,1609,1062,False,2020-08-29 19:44:21,Thanks @IamOhmai for nominating me for the @WH...,['WearAMask'],Twitter for Android,False
179104,Jason,Ontario,When your cat has more baking soda than Ninja ...,2011-12-21 04:41:30,150,182,7295,False,2020-08-29 19:44:16,2020! The year of insanity! Lol! #COVID19 http...,['COVID19'],Twitter for Android,False
179105,BEEHEMOTH ‚è≥,üá®üá¶ Canada,‚öíÔ∏è The Architects of Free Trade ‚öíÔ∏è Really Did ...,2016-07-13 17:21:59,1623,2160,98000,False,2020-08-29 19:44:15,@CTVNews A powerful painting by Juan Lucena. I...,NaN,Twitter Web App,False
179106,Gary DelPonte,New York City,"Global UX UI Visual Designer. StoryTeller, Mus...",2009-10-27 17:43:13,1338,1111,0,False,2020-08-29 19:44:14,"More than 1,200 students test positive for #CO...",['COVID19'],Twitter for iPhone,False
179107,TUKY II,"Aliwal North, South Africa",TOKELO SEKHOPA | TUKY II | LAST BORN | EISH TU...,2018-04-14 17:30:07,97,1697,566,False,2020-08-29 19:44:08,I stop when I see a Stop\n\n@SABCNews\n@Izinda...,NaN,Twitter for Android,False

In [ ]:
####Task
+Text
    -Text preprocessing
    -Sentiment Analysis
    -Keyword Exraction
    -Entity Exraction

In [ ]:
#getting overall information of the data set
df.info()

In [ ]:
#to see how many null values we have overall in dataset
df.isnull().sum()

In [ ]:
#C_n /value count /disturbuation of C_n 
df[''].unique()

In [ ]:
#C_n /value count /disturbuation of C_n 
df[''].value_counts()

In [ ]:
#plot the top value count 
df[''].value_counts().nlargest(30)

In [ ]:
#plot the top value count 
df[''].value_counts().nlargest(30).plot(kind='bar')

In [ ]:
#plot the top value count 
plt.figure(figsize=(20,10))
df['source'].value_counts().nlargest(30).plot(kind='bar')
plt.xticks(rotation=45)
plt.show()

In [ ]:
#pip install neattext

In [ ]:
#load text cleaning package
import neattext as nfx

In [ ]:
dir(nfx)

In [ ]:
#to see the data of particular column 
df['']

In [ ]:
#to see the row of particular column in data
df[''].iloc[2]

In [ ]:
#to extract all hastages from the particular column of dataset
df[''].apply(nfx.extract_hashtags)

In [ ]:
#to add a new column in dataset such as extract_hashtags 
df['extract_hashtags']=df[''].apply(nfx.extract_hashtags)

In [ ]:
#to remove the hashtags from the column of dataset and here we add a new column called cleaning_tweets
df['cleaning_tweets']=df[''].apply(nfx.remove_hashtags)

In [ ]:
#to remove the space from the column of the dataset here we have same colunm on both sides and then apply the method which we need 
df['cleaning_tweets']=df['cleaning_tweets'].apply(nfx.remove_multiple_spaces)

In [ ]:
#to remove the urls from the column of the dataset
df['cleaning_tweets']=df['cleaning_tweets'].apply(nfx.remove_urls)

In [ ]:
#to remove the emojis from the column of the dataset
df['cleaning_tweets']=df['cleaning_tweets'].apply(nfx.remove_emojis)

In [ ]:
#to remove the userhandles from the column of the dataset
df['cleaning_tweets']=df['cleaning_tweets'].apply(nfx.remove_userhandles)

In [1]:
from textblob import TextBlob

In [9]:
def get_sentiment(v_name):
    blob = TextBlob(v_name)
    sentiment_polarity = blob.sentiment.polarity
    sentiment_subjectivity = blob.sentiment.subjectivity
    if sentiment_polarity > 0:
        sentiment_label = 'Positive'
    elif sentiment_polarity < 0 :
        sentiment_label = 'Negative'
    else:
        sentiment_label = 'Natural'
    result = {'Polarity':sentiment_polarity,
            'Subjectivity':sentiment_subjectivity,
            'Sentiment':sentiment_label}
    return result

Counter({'m': 1, 'i': 4, 's': 4, 'p': 2})

In [ ]:
#here we add a new column called sentiment_results then apply the get_sentiment method on cleaning_tweets
df['sentiment_results'] = df['cleaning_tweets'].apply(get_sentiment)

In [ ]:
df['sentiment_result']

In [ ]:
from pandas.io.json import json_normalize

In [ ]:
#to see the result of sentiment result in form of table we use this
pd.json_normalize(df[''])

In [ ]:
#to join the columns of sentiment_result to dataset we use this
df = df.join(pd.json_normalize(df['']))

In [ ]:
df.head(5)

In [ ]:
positive_tweet = df[df['Sentiment']=='Positive']['cleaning_tweets']
positive_tweet.head()

In [ ]:
negative_tweet = df[df['Sentiment']=='Negative']['cleaning_tweets']
negative_tweet.head()

In [ ]:
natural_tweet = df[df['Sentiment']=='Natural']['cleaning_tweets']
natural_tweet.head()

In [ ]:
#remove stopworads and convertto tokens
positive_tweet_list = positive_tweet.apply(nfx.remove_stopwords).tolist()
positive_tweet_list

In [ ]:
negative_tweet_list = negative_tweet.apply(nfx.remove_stopwords).tolist()
negative_tweet_list

In [ ]:
natural_tweet_list = natural_tweet.apply(nfx.remove_stopwords).tolist()
natural_tweet_list

In [ ]:
for line in positive_tweet_list:
    #print(line)
    for token in line.split():
        print(token)

In [ ]:
pos_token = [token for line in positive_tweet_list for token in line.split()]
neg_token = [token for line in negative_tweet_list for token in line.split()]
nat_token = [token for line in natural_tweet_list for token in line.split()]

In [ ]:
from collections import Counter

In [ ]:
def get_tokens(docx,nums=30):
    word_tokens = Counter(docx)
    most_common = word_tokens.most_common(nums)
    result = dict(most_common)
    return result

In [ ]:
get_tokens(pos_token)

In [ ]:
most_common_nat_words = get_tokens(nat_token)
nat_df = pd.DataFrame(most_common_nat_words.items(),columns=['words','score'])
nat_df

In [ ]:
most_common_pos_words = get_tokens(pos_token)
pos_df = pd.DataFrame(most_common_pos_words.items(),columns=['words','score'])
pos_df

In [ ]:
most_common_neg_words = get_tokens(neg_token)
neg_df = pd.DataFrame(most_common_neg_words.items(),columns=['words','score'])
neg_df

In [ ]:
#plot with sea bone
plt.figure(figsize=(20,10))
sns.barplot(x='words',y='score',data=neg_df)
plt.xticks(rotation=45)
plt.title("Most_Common_Neg_Words")
plt.show()

In [ ]:
#plot with sea bone
plt.figure(figsize=(20,10))
sns.barplot(x='words',y='score',data=pos_df)
plt.xticks(rotation=45)
plt.title("Most_Common_Pos_Words")
plt.show()

In [ ]:
#pip install wordcloud
from wordcloud import WordCloud

In [ ]:
def plot_wordcloud(docx):
    my_wordcloud = WordCloud().generate(docx)
    plt.imshow(my_wordcloud,interpolation='bilinear')
    plt.axis('off')
    plt.show()

In [ ]:
pos_docx = ' '.join(pos_token)
neg_docx = ' '.join(neg_token)
nat_docx = ' '.join(nat_token)

In [ ]:
plot_wordcloud(pos_docx)

In [ ]:
plot_wordcloud(nat_docx)

In [ ]:
plot_wordcloud(neg_docx)