In [1]:
import pandas as pd
import numpy as np

In [7]:
data = {'Col_1':np.random.randint(low=1,high=100,size=12),
       'Col_2':np.random.randint(low=1,high=100,size=12),
       'Col_3':np.random.randint(low=1,high=100,size=12),
       'Col_4':np.random.randint(low=1,high=100,size=12),
       'Col_5':np.random.randint(low=1,high=100,size=12)}
index_names = ['jan','feb','march','april','may','june','july','august','september','october','november','december']
df = pd.DataFrame(data,index=index_names)
df

           Col_1  Col_2  Col_3  Col_4  Col_5
jan            9     58     22     15     51
feb           98     92      8      3     28
march          2     44     78     65     24
april         77      4     76     78     81
may           28     20     12     60     34
june          55     62     20     65     12
july          46     77     43     92     25
august        99     68     77     70     56
september     13     65     22     79     80
october       52     49      9     82     31
november      44     32     53     18     67
december      60     48     71     98     54

In [9]:
col_max = df.max(axis=0)
col_max

Col_1    99
Col_2    92
Col_3    78
Col_4    98
Col_5    81
dtype: int32

In [11]:
row_max = df.max(axis=1)
row_max

jan          58
feb          98
march        78
april        81
may          60
june         65
july         92
august       99
september    80
october      82
november     67
december     98
dtype: int32

In [12]:
col_max = df.min(axis=0)
col_max

Col_1     2
Col_2     4
Col_3     8
Col_4     3
Col_5    12
dtype: int32

In [13]:
row_max = df.min(axis=1)
row_max

jan           9
feb           3
march         2
april         4
may          12
june         12
july         25
august       56
september    13
october       9
november     18
december     48
dtype: int32

In [25]:
row_min = df.loc['march',:].min()#no need to specify axis when you give the name of column or row
row_min

2

In [18]:
row_max = df.loc['march',:].max()
row_max

78

In [23]:
col_max = df['Col_1'].max()
col_max

99

In [29]:
max_index = df.idxmax()
max_index

Col_1      august
Col_2         feb
Col_3       march
Col_4    december
Col_5       april
dtype: object