# Series

In [1]:
from pandas import Series, DataFrame
import pandas as pd
obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [2]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [3]:
obj2 = Series([4,7,-5,3], index=['a','b','c','d'])
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [4]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
obj2[obj2>0]

a    4
b    7
d    3
dtype: int64

In [6]:
obj2*2

a     8
b    14
c   -10
d     6
dtype: int64

In [7]:
import numpy as np
np.exp(obj2)

a      54.598150
b    1096.633158
c       0.006738
d      20.085537
dtype: float64

In [8]:
'b' in obj2

True

In [9]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [10]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [11]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [12]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [13]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [14]:
obj4.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [15]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [16]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [17]:
obj3+obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [18]:
obj4.name = 'poplution'
obj4.index.name = 'cities'
obj4

cities
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: poplution, dtype: float64

In [19]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj.index.name = ('male')
obj

male
Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64