# index object

pandas’s Index objects are responsible for holding the axis labels and other metadata
(like the axis name or names). Any array or other sequence of labels used when constructing
a Series or DataFrame is internally converted to an Index:

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
obj= Series(range(3))
obj

0    0
1    1
2    2
dtype: int64

In [3]:
obj = Series(range(3), index=['a', 'b', 'c'])
obj

a    0
b    1
c    2
dtype: int64

In [4]:
index=obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [5]:
index[1:]

Index(['b', 'c'], dtype='object')

In [6]:
index[:1]

Index(['a'], dtype='object')

In [7]:
index = pd.Index(np.arange(5))
index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [8]:
obj2 = Series([1.2,89.9,76.7,8976.8,45.3],index=index)
obj2

0       1.2
1      89.9
2      76.7
3    8976.8
4      45.3
dtype: float64

In [9]:
obj2.index is index

True

Class Description


Index The most general Index object, representing axis labels in a NumPy array of Python objects.
Int64Index Specialized Index for integer values.
MultiIndex “Hierarchical” index object representing multiple levels of indexing on a single axis. Can be thought of
as similar to an array of tuples.
DatetimeIndex Stores nanosecond timestamps (represented using NumPy’s datetime64 dtype).
PeriodIndex Specialized Index for Period data (timespans).

In [10]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],'year': [2000, 2001, 2002, 2001, 2002],'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [11]:
frame2 = DataFrame(data , columns=['year','state','pop'] , index=['one','two','three','four','five'])
frame2
#frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],index=['one', 'two', 'three', 'four', 'five'])

       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9

In [12]:
#Another common form of data is a nested dict of dicts format:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = DataFrame(pop)
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [13]:
'Ohio' in frame3.columns

True

In [14]:
2000 in frame3.index

True

Method Description



append Concatenate with additional Index objects, producing a new Index
diff Compute set difference as an Index
intersection Compute set intersection
union Compute set union
isin Compute boolean array indicating whether each value is contained in the passed collection
delete Compute new Index with element at index i deleted
drop Compute new index by deleting passed values
insert Compute new Index by inserting element at index i
is_monotonic Returns True if each element is greater than or equal to the previous element
is_unique Returns True if the Index has no duplicate values
unique Compute the array of unique values in the Index