# Axis indexes with duplicate values

In [2]:
import pandas as pd
from pandas import DataFrame , Series
import numpy as np

In [3]:
obj = Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

The indexâ€™s is_unique property can tell you whether its values are unique or not:

In [8]:
obj.index.is_unique

False

In [9]:
obj.unique()

array([0, 1, 2, 3, 4], dtype=int64)

In [12]:
obj.index

Index(['a', 'a', 'b', 'b', 'c'], dtype='object')

Data selection is one of the main things that behaves differently with duplicates. Indexing
a value with multiple entries returns a Series while single entries return a scalar
value:

In [13]:
obj['a']

a    0
a    1
dtype: int64

In [14]:
obj['b']

b    2
b    3
dtype: int64

In [15]:
obj['c']

4

In [18]:
df = DataFrame(np.random.randn(4, 3),index=['a', 'a', 'b', 'b'])
df

          0         1         2
a -0.621752 -1.441293 -0.706556
a -1.436430 -1.835673  2.570742
b  1.033141  0.760829  2.331493
b  0.018884 -1.301449  1.612759

In [19]:
df.ix['b']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

          0         1         2
b  1.033141  0.760829  2.331493
b  0.018884 -1.301449  1.612759