# Function application and mapping

In [2]:
import pandas as pd
from pandas import DataFrame , Series
import numpy as np

NumPy ufuncs (element-wise array methods) work fine with pandas objects:

In [74]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah    2.389101  1.114309  1.495820
Ohio    0.459298 -0.002854  0.311291
Texas  -0.367045  1.118397  1.584749
Oregon  1.056592  0.409675  1.439415

In [75]:
np.abs(frame) # i think is method convert -ve into +ve

               b         d         e
Utah    2.389101  1.114309  1.495820
Ohio    0.459298  0.002854  0.311291
Texas   0.367045  1.118397  1.584749
Oregon  1.056592  0.409675  1.439415

In [76]:
arr = np.arange(-5,6)
arr

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5])

In [77]:
np.abs(arr)

array([5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5])

In [78]:
len(arr)

11

Another frequent operation is applying a function on 1D arrays to each column or row.
DataFrameâ€™s apply method does exactly this:

In [3]:
f = lambda x: x.max() - x.min()

NameError: name 'x' is not defined

In [80]:
frame.apply(f)#it did colum wise like 9-0,10-1,11-2|

b    2.756146
d    1.121251
e    1.273458
dtype: float64

In [81]:
frame.apply(f, axis=1)# it did row wise

Utah      1.274793
Ohio      0.462151
Texas     1.951794
Oregon    1.029741
dtype: float64

In [82]:
def f(x):
    return Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f)

            b         d         e
min -0.367045 -0.002854  0.311291
max  2.389101  1.118397  1.584749

In [85]:
frame1 = DataFrame(np.arange(12).reshape(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame1

        b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11

In [86]:
f1 = lambda x: x.max() - x.min()

In [89]:
frame1.apply(f1)#it did colum wise like 9-0,10-1,11-2|

b    9
d    9
e    9
dtype: int64

In [90]:
frame1.apply(f1, axis=1)# it did row wise

Utah      2
Ohio      2
Texas     2
Oregon    2
dtype: int64

In [91]:
def f1(x):
    return Series([x.min(), x.max()], index=['min', 'max'])
frame1.apply(f1)

     b   d   e
min  0   1   2
max  9  10  11

In [92]:
def f(x):
    a = Series([x.min(),x.max()],index=['min','max'])
    return a
ss = f(frame1)
print(ss)
#frame.apply(f)

min       b    0
d    1
e    2
dtype: int32
max    b     9
d    10
e    11
dtype: int32
dtype: object

Element-wise Python functions can be used, too. Suppose you wanted to compute a
formatted string from each floating point value in frame. You can do this with applymap:

In [94]:
format = lambda x: '%.2f' % x #ask

In [93]:
frame1.applymap(format)

           b      d      e
Utah    0.00   1.00   2.00
Ohio    3.00   4.00   5.00
Texas   6.00   7.00   8.00
Oregon  9.00  10.00  11.00

The reason for the name applymap is that Series has a map method for applying an element-
wise function:

In [97]:
frame1['e'].map(format)

Utah       2.00
Ohio       5.00
Texas      8.00
Oregon    11.00
Name: e, dtype: object