In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'sale':[5,4,6,3,2]})
df

   sale
0     5
1     4
2     6
3     3
4     2

In [6]:
df['c_sum'] = df['sale'].cumsum()
df

   sale  c_sum
0     5      5
1     4      9
2     6     15
3     3     18
4     2     20

In [10]:
df = pd.DataFrame({'sale':[5,4,pd.NaT,3,2]})
df['c_sum'] = df['sale'].cumsum()
df#it can be useful when we sum number of  products of months and we have missing month so we can handle that by this

  sale c_sum
0    5     5
1    4     9
2  NaT   NaN
3    3    12
4    2    14