In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({'col1':[5,6,4,9,8,pd.NaT],'col2':[5,8,5,4,3,2]})
df

  col1  col2
0    5     5
1    6     8
2    4     5
3    9     4
4    8     3
5  NaT     2

In [15]:
df['boo'] = df['col1'] != df['col2'] # the last condition is only True when we use != b/c Na
df # False = 0 , True = 1

  col1  col2    boo
0    5     5  False
1    6     8   True
2    4     5   True
3    9     4   True
4    8     3   True
5  NaT     2   True

In [16]:
df['boo'] +1

0    1
1    2
2    2
3    2
4    2
5    2
Name: boo, dtype: int32